@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
    <div class="mainPage">
        <div>
    <h1 class="display-4">Welcome to us&#129306</h1>
    <p>Start your best experience of chatting with mSpace</p>
    <a class="chatBtn_intro nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Chat">Chat</a>
    </div>
    </div>

</div>
